.top_section_about {
	background-image: url('../img/Group 58.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60vh;
}

.modal.show .modal-dialog {
    margin-top: 10%;
}

.modal-footer {
	border: none !important;
}
.modal-header {
	border: none !important;
}

.login_modal {
	background-image: url('../img/Mask Group 2.png');
    height: auto;
    background-position: center;
    background-size: cover;
    padding: 15% 10%;
    background-repeat: no-repeat;
    text-align: center;
}

* {
	outline: none !important;
}
.login_modal h5 {
	font-size: 30px; 
	color: white;

}
.login_modal input {
    background: transparent;
    width: 100%;
    margin-top: 15px;
    height: 50px;
    padding: 10px;
    color: #fff;
    border: none;
    border-bottom: solid 2px white;
}

.login_modal button {
	background-color: transparent;
	color: white;
	border: none !important;
	/*font-weight: bold;*/
	cursor: pointer;
	box-shadow: none !important;
}

.header_btn {
	padding-right: 20%;
	text-align: right;
}

.header_btn button {
	background-color: transparent; 	
	color: white;
	border: none !important;
	cursor: pointer;
	font-size: 40px;
	margin-top: 20px;
	box-shadow: none !important;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


.login_modal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.login_modal input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.login_modal input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.login_modal input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.chair_details {
	padding: 4% 0px;
}

.chair_details select {
	background-color: #ddddddd6;
	color: white;
	margin-top: 20px;
}

.details_class_card table tr th:nth-child(2), .details_class_card table tr td:nth-child(2) {
	text-align: right;
}

.details_class_card table tr th {
	border-bottom: solid 1px white;
}
.details_class_card {
	padding: 5% 10%;
	color: white;
	background-color: #ddddddd6;
	margin-top: 20px;
	border-radius: 4%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: ease all 0.3s;
}

.details_class_card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: ease all 0.3s;
}

.details_class_card p {
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}
.details_class_card a {
	color: red;
	text-decoration: none;
}
.details_class_card button {
	margin-top: 20px;	
	background-color: #ddd;
	transition: ease all 0.2s;
}
.details_class_card button:hover {
	background-color: transparent;
	color: #fff;
	margin-top: 20px;	
	transition: ease all 0.2s;
}


.details_popup {
	background-color: #ddddddd6;
}

.details_popup input {
    background: transparent;
    width: 100%;
    margin-top: 15px;
    height: 50px;
    padding: 10px;
    color: #fff;
    border: none;
    border-bottom: solid 2px white;
}

.details_popup button {
	margin-top: 20px;
	transition: ease all 0.3s;
}

.details_popup button:hover {
	background-color: transparent;
	color: white;
	transition: ease all 0.3s;
}

.details_popup input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.details_popup input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.details_popup input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.details_popup input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.details_popup h2 {
	color: red;
	font-size: 18px;
	margin-top: 20px;
}

.details_popup h4 {
	color: #000;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 3px;
}
.details_popup p {
	margin-top: 0px;
}

/*Desktop Version*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }

    .top_section_about {
		background-image: url('../img/Group 56.png');
	    height: 100vh;
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    text-align: center;
	    padding-top: 80vh;
	}
	.header_btn {
	    padding-right: 0px;
	    text-align: center;
	}
	.header_btn button {
	    background-color: transparent;
	    color: white;
	    border: none !important;
	    cursor: pointer;
	    font-size: 30px;
	    margin-top: -10px;
	    box-shadow: none !important;
	}
	.chair_details {
		background-color: #ff2f2a;
		padding: 4% 0px;
	}
}
